@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$montserrat: "Montserrat", sans-serif;

$blue: #274c77;
$grey: #f1f1f1;
$bluegrey: #6096ba;
$skyblue: #a3cef1;
$dark-gray: #8b8c89;

input,
select,
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }
}

textarea {
  border: 1px solid #ccc;
  font: inherit;
  margin: 0;
  padding: 1px 2px;
  resize: vertical;
  appearance: none;
  outline: none;
}

ul,
li {
  list-style-type: none;
  padding-left: 0px !important;
}

@mixin textAreaIcons {
  padding: 15px;
  background-color: white;
  border-top: solid 0px !important;
  border: 1px solid #ccc;
  border-radius: 0px 0px 7px 7px;
  display: flex;
  justify-content: end;
  gap: 10px;
  color: rgb(162, 162, 162);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
}

@mixin languages {
  width: calc(30vw * 2);
  padding-top: 50px;
  margin: auto;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out !important;
  overflow: hidden;
  background-color: transparent;

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
    color: white;

    li {
      margin: 4px 0px 4px 0px;
    }
  }
}
