@import "./variables";

html {
  margin: auto 0;
  width: 100%;
}

body {
  padding: 0px;
  margin: auto 0;
  max-width: 2000px;
  box-sizing: border-box;
  width: 100%;
  background-color: $orange;
  font-family: $montserrat;
}

.homepage {
  width: fit-content;
  margin: auto;
  margin-top: 50px;
}

.content__above {
  .form {
    display: flex;
    width: fit-content;
    position: relative;
    gap: 25px;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .input {
    textarea {
      padding: 2vw;
    }

    &__icons {
      padding: 15px;
      background-color: white;
      border-top: solid 0px !important;
      border: 1px solid #ccc;
      border-radius: 0px 0px 7px 7px;
    }
  }

  .output {
    textarea {
      padding: 2vw;
      caret-color: transparent;
    }

    &__icons {
      padding: 15px;
      background-color: white;
      border-top: solid 0px !important;
      border: 1px solid #ccc;
      border-radius: 0px 0px 7px 7px;
    }
  }

  .input,
  .output {
    display: flex;
    flex-direction: column;

    button,
    select {
      padding: 12px 40px 12px 40px;
      margin: auto;
      background-color: $blue;
      color: white;
      border-radius: 5px;
    }

    .language__selector {
      padding: 12px 15px 12px 30px !important;
      display: flex;
      align-items: center;
      gap: 3px;

      svg {
        margin-left: 20px;
      }
    }
  }

  button[type="submit"] {
    background-color: $blue;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    color: white;
    position: absolute;
    margin-top: 50px !important;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  textarea {
    width: 30vw;
    height: 15vw;
    max-width: 530px;
    max-height: 350px;
    margin-top: 20px;
    resize: none;
    border-radius: 7px 7px 0px 0px;
  }
}

.content__below {
  display: flex;
}

// LANGUAGES

.content__languages {
  height: max-content;

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
