@import "./variables";

html {
  margin: auto 0;
  width: 100%;
}

body {
  padding: 0px;
  margin: auto 0;
  box-sizing: border-box;
  width: 100%;
  font-family: $montserrat;
}

.homepage {
  width: 100%;
  margin: auto;
  z-index: 2;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.content__above {
  position: relative;

  .blue__background {
    position: absolute;
    height: 88%;
    top: 0px;
    width: 100%;
    z-index: -3;
    background-image: url("/bg.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .form {
    padding-top: 50px;
    display: flex;
    width: fit-content;
    position: relative;
    gap: 25px;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .input {
    &__mobile {
      display: none;
    }

    textarea {
      padding: 35px;
    }

    &__icons {
      @include textAreaIcons();
    }
  }

  .output {
    textarea {
      padding: 35px;
      caret-color: transparent;
    }

    &__icons {
      @include textAreaIcons();
    }
  }

  .input,
  .output {
    display: flex;
    flex-direction: column;

    button,
    select {
      padding: 12px 40px 12px 40px;
      margin: auto;
      background-color: $blue;
      color: white;
      border-radius: 5px;
    }

    .language__selector {
      padding: 12px 15px 12px 30px !important;
      display: flex;
      align-items: center;
      gap: 3px;

      svg {
        margin-left: 20px;
      }
    }
  }

  button[type="submit"] {
    background-color: $blue;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    color: white;
    position: absolute;
    margin-top: 50px !important;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  textarea {
    width: 30vw;
    height: 15vw;
    max-width: 530px;
    max-height: 300px;
    margin-top: 20px;
    resize: none;
    border-radius: 7px 7px 0px 0px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
  }
}

.content__below {
  display: flex;
  gap: 25px;
  margin-top: 5px;
  background-color: $grey;
  border-bottom: 1px solid $dark-gray;
  position: relative;
  margin-top: -100px;
  z-index: -1;

  .grey__background {
    background-color: $grey;
    position: absolute;
    height: max-content;
    top: -100px;
    width: 100%;
    z-index: -1;
  }

  &__container {
    display: flex;
    width: fit-content;
    width: 70%;
    margin: auto;
    max-width: 1250px;
    gap: 35px;
  }

  &__definitions,
  &__synonyms {
    width: 30vw;
    height: max-content;
    max-width: 530px;
    padding: 1vw 2vw 1vw 2vw;
    margin-top: 110px;
    margin-bottom: 30px;

    &__list {
      display: flex;
      b {
        min-width: 200px;
      }
    }

    .definitions {
      padding: 1px 0px 1px 0px;

      &__main {
        color: black;
      }

      &__examples {
        color: $dark-gray;
      }
    }
    p,
    i {
      color: $dark-gray;
      margin: 0px 0px 2px 0px;
      display: flex;
      align-items: center;
      gap: 5px;

      svg {
        margin-left: 10px;
      }
      b {
        color: black;
      }
      i {
        padding-top: 0px;
      }
    }
    li {
      margin-bottom: 2px;
    }
  }
}

// ----------------------- LANGUAGES

.content__languages {
  opacity: 0;
  height: 0px !important;
  @include languages();
}

.content__languages_open {
  opacity: 1;
  height: 160px !important;
  @include languages();
}

// ------------------------ HISTORY
.content__history {
  width: 70%;
  max-width: 1290px;
  margin: auto;
  margin-top: 6vh;
  padding-bottom: 10vh;
  overflow: hidden;

  &__title {
    display: flex;
    align-items: center;

    h2 {
      width: 50%;
    }

    div {
      width: 50%;
      display: flex;
      justify-content: end;
      gap: 30px;

      svg {
        color: rgb(201, 201, 201);
      }
    }
  }

  &__container {
    display: flex;
    gap: 20px;
    overflow: hidden;
    height: 20vh;
    align-items: center;

    .history {
      width: 20vw;
      min-width: 360px;
      border-radius: 7px 7px 7px 7px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16),
        0px 1px 2px rgba(0, 0, 0, 0.16), 0px 3px 2px rgba(0, 0, 0, 0.077);
      height: 8vh;
      padding: 35px 27px 35px 27px;

      p {
        margin: 6px;
        &:nth-child(2) {
          color: $dark-gray;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .content__history__container {
    .history {
      width: 15vw;
      min-width: 300px;
    }
  }
}

@media screen and (max-width: 800px) {
  p,
  i,
  b {
    font-size: 14px !important;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px !important;
    padding-top: 0px !important;
    width: 90% !important;

    .input,
    .output {
      width: 100%;

      .button__desktop,
      .language__selector {
        display: none;
      }
    }

    .input {
      &__mobile {
        display: block !important;
        display: flex !important;
        justify-content: space-around !important;
      }

      .language__selector__mobile {
        display: flex;
        align-items: center !important;
        padding: 8px 20px 8px 20px !important;
        gap: 5px;
      }

      &__icons {
        padding: 8px !important;
      }
    }

    .output {
      padding-top: 0px !important;
      textarea {
        margin-top: 0px !important;
      }
      &__icons {
        padding: 8px !important;
      }
    }

    button,
    select {
      padding: 10px 20px 10px 20px !important;
      margin: auto;
      background-color: $blue;
      color: white;
      border-radius: 5px;
      font-size: 12px;
    }

    textarea {
      width: auto;
      height: 15vw;
      max-width: 530px;
      max-height: 300px;
      margin-top: 20px;
      resize: none;
      padding: 25px !important;
      border-radius: 7px 7px 0px 0px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
      font-size: 14px;
    }
  }

  .content__below {
    &__container {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: auto !important;
      gap: 10px !important;
      margin: 10px;
    }

    &__synonyms,
    &__definitions {
      width: 95%;
    }

    &__definitions {
      margin-top: 0px;
    }
  }

  .content__languages_open,
  .content__languages {
    width: 75%;

    li {
      display: flex;
      gap: 10px;
      width: 90%;
      text-align: center;
      justify-content: center;
    }
    button {
      font-size: 14px;
    }
  }

  h2 {
    font-size: 18px !important;
  }

  .content__history {
    width: 90%;

    svg {
      width: 20px;
    }

    &__container {
      .history {
        width: 13vw !important;
        min-width: 250px;
      }
    }
  }
}
